.logo-image {
    height: 28px;
    margin-right: 5px;
    vertical-align: -7px;
}

.tab-header {
  margin-bottom: 20px;
  margin-top: 0px;
}

.upload-box {
  background-color: #f5f5f5;
  min-height: auto;
}

.separator {
  margin-top: 0px;
}

.separator-2 {
  margin-top: -25px;
  margin-bottom: -5px;
}

.action-btn {
  display: flex;
  align-items: center;
  margin-top: -10px;
}

.btn-contents {
  margin-left: auto;
  padding: 2px;
  min-width: 60px;
  max-width: 100px;
}

#cv_logs {
  max-height: 200px; /* Adjust based on your needs */
  overflow-y: auto; /* Enables vertical scrolling */
  background-color: #f5f5f5; /* Optional: changes background color */
  padding: 10px; /* Optional: adds some padding inside the log box */
  border: 1px solid #ddd; /* Optional: adds a border around the log box */
}